body{
	width: 100%;
	margin: 0;
}

a{
	text-decoration: none;
	color: black;
}

/*Nav*/
header{

	display: flex;
	justify-content: center;
	align-items: center;
	height: 90px;
	background-color: #ededed;
}
header ul{
	display: flex;
	justify-content: center;
}
header li{
	text-decoration: none;
	list-style: none;
	padding: 0 10px;
}
/*Articles*/
.articles{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.multi{
	text-align: center;
	padding: 5px;
	width: 28%;
}

.solo{
	margin: 15px auto;
	max-width: 80%;
	text-align: center;
}
/*adminTable*/
.articleManager{
	margin: auto;
	width: 60%;
}
.adminTable {
    margin: 15px auto 30px auto;
    border-collapse: collapse;
}

.adminTable td, th {
    border: 1px solid black;
    text-align: center;
    padding: 8px;
}

.adminTable tr:nth-child(even) {
    background-color: #dddddd;
}

/*Footer*/
footer{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 90px;
	background-color: #ededed;
}

